#title {
  text-align: center;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  align-items: center;
  justify-content: center;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  height: 60%;
  margin: 0 auto;
  position: relative;
}

table * {
  position: relative;
}

th,
td {
  text-align: left;
  padding: 6px;
}

thead,
tr {
  height: 50px;
}
